<style>
.twitter-follow-button {
	padding: 5px 15px;
	color: #fff !important;
	background-color: #5eb7f5;
	border-radius: 20px;
	font-size: 12px;
}
.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: auto;
    max-width: 340px; // orginal twitter width: 290px;
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 50px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 15px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

</style>
{% extends 'index.html' %}
{% block title %}Following{% endblock %}
{% block tweetbox %}
<div class="row" style="margin: 20px;">
	{% for following_users in alreadyfollowing %}
	<form>
	<div class="twPc-div">
		<a class="twPc-bg twPc-block"></a>
		<div>
			<div class="twPc-button">
				<!--				<a href="#" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false" data-dnt="true">Follow </a>-->

					<button type="submit" class="twitter-follow-button" id="twitter-follow-button{{following_users.id}}"  data-id="{{following_users.id}}">UnFollow</button>

			</div>
			<a title="Mert S. Kaplan" href="#" class="twPc-avatarLink">
				<img alt="Mert S. Kaplan" src="https://randomuser.me/api/portraits/men/{{ forloop.counter }}.jpg" class="twPc-avatarImg">
			</a>
			<div class="twPc-divUser">
				<div class="twPc-divName">
					<a href="">{{ following_users.fullname|default:"Name" }}</a>
				</div>
				<span>
				<a href="">@<span>{{ following_users.username }}</span></a>
			</span>
			</div>
		</div>
	</div>
		</form>
	{% endfor %}
	<!-- code end -->
</div>
<script type="text/javascript">
const elements = document.querySelectorAll('.twitter-follow-button');

function myFunction(event){
    var element = event.target.getAttribute('data-id') ;
    var DataJSON = {
    	element:element
    }
	$.ajax({
	url  : "{% url 'ajax_submission_unfollow' %}",
	method : 'post',
	data : DataJSON,
	success:function(data){
		$('[data-id="'+element+'"]').html("Follow")
		form.reload();
  	}
  	});
}
for(let i=0;i<elements.length;i++){
	elements[i].addEventListener('click', myFunction )
}


</script>
{% endblock %}
{% block widgets %}
{% endblock %}