{% extends 'index.html' %}
{% block tweetbutton %}
<div class="tweetBox">
    <form method="post">
        {% csrf_token %}
        <div class="tweetbox__input">
            <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt=""/>
            {% block textvalue %}
            {{ form.text }}
            {% endblock %}
        </div>
        <button class="tweetBox__tweetButton" type="Submit">{% block button %}Update{% endblock %}</button>
    </form>
</div>
{% endblock %}
{% block widgets %}{% endblock %}