{% extends 'registration/login.html' %}
{% block loginpage %}
<form action="" method="post">
    {% csrf_token %}
    <center><span><i class='fa fa-twitter fa-4x'></i></span></center>
    <br><br>
    {% for data in form %}
    <div class="user-box">
        {{data.label}}
        {{ data }}

    </div>
    {% endfor %}
    <button href="{% url 'user_registration' %}" type="Submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
    </button>
    &nbsp;<a href="{% url 'login_view' %}" style="color:white;">Existing User? Signin</a>
</form>
{% endblock %}